@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Colors */
    --btn-std-color: rgba(62, 178, 94, 1);
    --btn-hv-color: rgb(255, 255, 125);
    --btn-std-fcolor: #FFFF;
    --btn-hv-fcolor: rgb(0, 0, 0);
    --input-unselected: rgba(62, 178, 94, 0.3);
    --input-border-active: rgba(71, 82, 66, 1);
    --input-border-unselected: rgba(0, 0, 0, 0.25);

    /* Fonts*/
    --main-font-fml: Roboto, sans-serif;
    --main-font-color: black;
    --main-font-weight: 700;
    --seccondary-font-color: white;
    --desk-h-fsize: 5.5rem;
    --desk-btn-fsize: 1.375rem;
    --mob-btn-fsize: 1rem;
    --desk-form-fsize: 1.6rem;
    --mb-form-fsize: 1rem;

    /* Radius */
    --btn-radius: 35px;
    --input-radius: 20px;
    --check-box-radius: 0.25em;

    /* button sizes */
    --mb-big-btn-width: 18.875rem;
    --desk-big-btn-width: 26.125rem;
    --mb-small-btn-width: 8.875rem;
    --desk-small-btn-width: 12.4rem;
    --mb-btn-height: 1.65rem;
    --desk-btn-height: 2.25rem;

    /* inputs */
    --mb-ipt-width: 17.375rem;

}

/* Geral */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-fml);
}

*:focus {
    outline: none;
}



li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input[type='submit'] {
    border: none;
    padding: 0;
}

main h1 {
    font-size: var(--desk-h-fsize);
}

body {
    display: flex;
}

main h1,
main h2,
.qst-label,
.btn {
    font-weight: var(--main-font-weight);
}

.btn {
    background-color: var(--btn-std-color);
    color: var(--btn-std-fcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--mob-btn-fsize);
    border-radius: var(--btn-radius);
    cursor: pointer;


}

.btn:hover,
.btn:active {

    background-color: var(--btn-hv-color);
    color: var(--btn-hv-fcolor);

}



#btn-hm-pg {
    font-size: var(--desk-btn-fsize);
    width: 199px;
    height: 36px;

}

/* Desktop */

@media only screen and (min-width: 481px) {
    body {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 100vh;
        margin-left: 100px;
        padding-right: 10px;


    }

    #intro-main {
        margin-left: 4.9rem;
        margin-right: 5.5rem;
        padding-top: 1.8rem;

    }

    /* Headers */
    #home-header {
        font-size: 6.935rem;
        line-height: 130%;
        margin-bottom: 1rem;

        vertical-align: top;

    }

    #intro-header {
        font-size: 2.44rem;
        line-height: 117%;
        text-align: center;

        margin-bottom: 1.35rem;
        margin-top: 0.3rem;
    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        width: max-content;

    }

    /* SubTitles */
    #intro-sub {
        font-size: 1.75rem;
        line-height: 120%;
        /* margin-left: 5rem;
        margin-right: 4.125rem;*/
        margin-bottom: 1.625rem;
        text-align: center;
    }


    /* Hero images */
    .img-wrapper {
        height: 100vh;
        min-width: max-content;
        display: block;
    }

    #img-hero-0 {

        height: 87%;
        margin-top: 3.125rem;
        margin-left: 6rem;
        margin-bottom: auto;

    }

    #img-hero-1 {
        height: 63%;
        margin: 9.15rem 0rem 5.5rem 8.375rem;

    }

    /* Buttons */
    .btns-wrap-nav {
        display: flex;
        flex-direction: row;

        justify-content: center;
    }

    .btn-small {
        width: var(--desk-small-btn-width);
        height: var(--desk-btn-height);

    }

    .btn-small:nth-of-type(1) {

        margin-right: 1.125rem;

    }

}

/* Mobile */
@media only screen and (max-width: 480px) {
    body {
        width: 100vw;
        display: flex;
        flex-direction: column;

    }

    .img-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Hero images */
    #img-hero-0 {
        width: 56.5%;
        margin: 3.5rem 9rem 1.55rem 3.7rem;

    }

    #img-hero-1 {
        width: 84%;
        margin: 3.2rem 2.8rem 1.68rem 2rem;

    }

    #img-hero-2 {
        width: 75%;
        margin: 61px 76px 21px 44px;

    }



    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

    .sv-form,
    .df-form-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: flex-start;

    }

    .df-form-section:nth-last-of-type(1) {
        margin-bottom: 19px;
    }

    .df-form-section {
        padding-left: 89px;
    }

    .mult-ipt-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;

    }

    .ipt-wrap {
        display: flex;
        gap: 7px;
        flex-direction: row;
        margin-bottom: 5px;
    }


    /* Headers */
    #home-header {
        font-size: calc(var(--desk-h-fsize) / 1.86);

        margin-bottom: 25px;
    }

    #intro-header {
        font-size: 1.875rem;
        line-height: 135%;
        text-align: center;
        margin-left: 2.875rem;
        margin-right: 1.625rem;
        margin-bottom: 1.25rem;
    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 40px;

    }

    /* SubTitles */
    #intro-sub {
        font-size: calc(var(--mb-form-fsize)* 1.125);
        line-height: 121%;
        margin-left: 5rem;
        margin-right: 4.125rem;
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .qst-label,
    .df-inpt-fsize {
        font-size: var(--mb-form-fsize);
    }

    .qst-label {
        margin-bottom: 3px;
    }

    /* Buttons */
    .tri-btns-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .btns-wrap-nav {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        gap: 18px;
    }

    .btn-big {
        width: var(--mb-big-btn-width);
        height: var(--mb-btn-height);
        margin-top: 11px;
        margin-bottom: 52px;
    }

    .btn-small {
        width: var(--mb-small-btn-width);
        height: var(--mb-btn-height);

    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: var(--mb-ipt-width);
        height: 33px;
        font-size: 16px;
        text-overflow: ellipsis;
        border: 1px solid var(--input-border-unselected);
        border-radius: var(--input-radius);
        padding: 5px 0px 5px 28px;
        background: url(/images/select-arrow.svg) no-repeat rgba(255, 255, 255, 0.3);
        background-size: 14px 9px;
        background-position: left 10px center;
    }

    option {

        background-color: var(--btn-std-color);
        color: var(--btn-std-fcolor);
        
    }

    /* option:active,
    option:hover {
        color: var(--btn-std-fcolor);
        background-color: var(--btn-std-color);
    } */

    select:hover,
    select:active {

        background: url(/images/select-arrow-active.svg) no-repeat rgba(255, 255, 255, 0.3);
        background-size: 14px 9px;
        background-position: left 10px center;
        border: 1px solid var(--input-border-active);
    }

    input[type=radio] {

        -webkit-appearance: none;
        appearance: none;
        background-color: var(--input-unselected);
        margin: 0;
        font: inherit;

        color: var(--input-unselected);
        width: 1.15em;
        height: 1.15em;
        border: none;
        border-radius: 50%;

        display: grid;
        place-content: center;

        transform: translateY(-0.075em);
    }

    input[type="radio"]::before {
        content: "";
        width: 1.15em;
        height:  1.15em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--btn-std-color);
    }

    input[type="radio"]:checked::before {
        transform: scale(1);
    }

}