@media only screen and (min-width: 481px) {
    #qst1-body{
        display:flex;
        align-items:center;
        justify-content: space-around;
    }
    #img-hero-2 {
        width: 100%;
        height: 100%;
    }

    #img-wrp-2 {
        width: 43.75vw;
        height: 69.4vh;
        margin: 12.9vh 5.8vw 17.6vh 6.8vw;

    }

    #sv-form-main1 {
        width: 42vw;
        height:67.6vh;
        margin-left:2vw;
        /* margin-top: 18vh; */
        /* margin-right: 3vw; */
    }

}

@media only screen and (max-width: 480px) {
    #img-hero-2 {
        width: 75%;
        margin: 8vh 76px 21px 44px;
    }

}