body {
    font-family: var(--main-font-family);
    width: 100vw;
    height: 100vh;
}

.page {
    height: 100vh;
    width: 100vw;
}

.welcome-section {
    display: flex;
}

.start-section {
    display: none;
}

.status-section {
    display: none;
}

.invest-section {
    display: none;
}

.details-section {
    display: none;
}

.contact-section {
    display: none;
}
.sucess-section{
    display: none;
}
@media screen and (max-width: 768px) {
    .page {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.img-section {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section img {
    max-width: 552px;
    max-height: 528px;
    width: 100%;
    height: auto;
}

.welcome-section img {
    max-height: 98vh;
    max-width: 431px;
}

@media screen and (max-width: 768px) {
    .img-section {
        width: 100%;
        max-height: 50vh;
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-section img {
        width: 100%;
        height: auto;
        max-height: 50vh;
        max-width: 403px;
    }


    .welcome-section img {
        min-width: 220px;
        transform: translate(-9%, 0);
        max-width: 65.41%;
    }
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 498px;
    justify-content: center;

}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.big-header {
    font-size: 111px;
    padding-left: 10px;
    margin-bottom: 45px;
}

.big-paragraph {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 75px;
}

@media screen and (max-width: 1080px) {
    .big-header {
        font-size: 81px;
        text-align: center;
        margin-top: 25px;
    }

    .big-paragraph {
        font-size: 24px;
        text-align: center;
    }

    .text-section {
        max-width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    .content-section {
        max-width: 63.75vw;
    }

    .status-section .content-section {
        margin-top: 20px;
    }

    .invest-section .content-section {
        margin-top: 16px;
    }

    .details-section .content-section {
        margin-top: 23px;
        
    }
    .contact-section .content-section {
        width: 330px;
       align-items: flex-start;
    }


    .big-header {
        font-size: 53px;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    .big-paragraph {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.title {
    font-size: 38px;
    text-align: center;
}

.start-section .section-title {
    font-size: 39px;
    text-align: center;
    margin-bottom: 30px;
}

.start-section p {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    .start-section .section-title {
        font-size: 30px;
        margin-top: 27px;
        line-height: 30px;
    }

    .start-section p {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 20px;
    }
}

.section-title {
    font-size: var(--form-dsk-fsize);
}

/* buttons */
.buttons-wrapper {
    display: flex;
    column-gap: 18px;
    row-gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.welcome-section .buttons-wrapper {
    justify-content: center;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    font-size: var(--btn-dsk-fsize);
    font-weight: var(--font-weight-bold);
    border-radius: var(--btn-radius);
    border: none;
    cursor: pointer;
    height: var(--btn-dsk-height);
    width: var(--btn-dsk-width);
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.contact-section .btn {
    width: 91.1%;
}

.skip-button {
    width: 86%;
}

.start-section .btn {
    width: 43.5%;
}

@media screen and (max-width: 768px) {
    .buttons-wrapper {
        width: 100%;
        justify-content: flex-start;
    }
    
    .start-section .buttons-wrapper {
        justify-content: center;
    }

    .btn {
        font-size: var(--btn-mb-fsize);
        min-height: var(--btn-mb-height);
        width: var(--btn-mb-width);
        padding: 4px 4px;
        height: max-content;
    }
    .contact-section .btn {
        width: 94%;
    }

    .start-section .btn {
        width: 80vw;
    }

    .skip-button {
        width: 90%;
    }
}

.welcome-section .btn {
    width: 43.5%;
}

/* Form */
.survey-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-section .survey-form {
    margin-bottom: 20px;
}

.mult {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 38px;
}



/* labels */
.input-label {
    font-size: var(--form-dsk-fsize);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}

.contact-section .input-label {
    margin-bottom: 25px;
}

.mult-label {
    font-size: var(--form-dsk-fsize);
}

@media screen and (max-width: 768px) {
    .survey-form {
        align-items: flex-start;
    }
    .contact-section .survey-form {
        margin-top: 20px;
        margin-bottom: 19px;
    }
    .mult {
        margin-bottom: 25px;
        gap: 5px;
    }

    .input-label {
        font-size: var(--form-mb-fsize);
        margin-bottom: 3px;
    }
    .contact-section .input-label {
        padding-left: 10px;
        margin-bottom: 4px;
    }
    .mult-label {
        font-size: var(--form-mb-fsize);
    }



}

/* select */
select {
    font-size: var(--form-dsk-fsize);
    appearance: none;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--grey-input-color);
    text-overflow: ellipsis;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

select:focus {
    border-color: #475242;
}

select:focus+div {
    border-top: 14px solid var(--primary-color);
}

.select-div {
    height: 52px;
    width: 481px;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.pointer {
    height: 0;
    width: 0;
    pointer-events: none;
    border-top: 14px solid var(--unselected-color);
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-radius: 25%;
    border-bottom: none;
    position: absolute;
    top: 19px;
    left: 13px;
}

@media screen and (max-width: 768px) {
    .select-div {
        height: 33px;
        width: 279px;
        margin-bottom: 11px;

    }

    select {
        font-size: var(--form-mb-fsize);
        padding-left: 28px;
    }

    .invest-section select {
        margin-bottom: 10px;
    }

    .pointer {
        border-top: 9px solid var(--unselected-color);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: none;
        position: absolute;
        top: 12px;
        left: 10px;
    }

    select:focus+div {
        border-top: 9px solid var(--primary-color);
    }

}

/* radio */
input[type="radio"] {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--unselected-color);
    border-radius: 50%;
    cursor: pointer;

}

input[type="radio"]:checked {
    appearance: none;
    background-color: var(--primary-color);
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}

@media screen and (max-width: 768px) {
    input[type="radio"] {
        width: 15px;
        height: 15px;
    }

    .input-wrapper {
        gap: 7px;
    }
}

/* checkbox */
input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: var(--unselected-color);
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    appearance: none;
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    input[type="checkbox"] {
        width: 13.8px;
        height: 13.8px;
        border-radius: 2px;
    }

}

/* textarea */
textarea {
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border: 1px solid var(--unselected-color);
    width: 459px;
    height: 225px;
    border-radius: var(--input-border-radius);
    padding: 0.5em;
    font-size: var(--form-dsk-fsize);
    font-family: var(--main-font-family);
}

textarea:focus {
    border: 1px solid var(--grey-input-color);
}

.textarea-div {
    margin-bottom: 62px;
}

@media screen and (max-width: 768px) {
    textarea {
        width: 278px;
        height: 131px;
        font-size: var(--form-mb-fsize);

    }

    .textarea-div {
        margin-bottom: 23px;
        margin-top: 10px;
    }
}

/* text */
#fullname,
#email,
#age {
    height: 52px;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--grey-input-color);
    padding-left: 25px;
    font-size: 27px;
    font-family: var(--main-font-family);
    margin-bottom: 24px;
}

#fullname::placeholder,
#email::placeholder,
#age::placeholder {
    color: var(--grey-input-color);
}

#fullname:focus,
#email:focus,
#age:focus {
    border: 1px solid #475242;
}

#fullname,
#email {
    width: 459px;
}

#age {
    width: 152px;
}

@media screen and (max-width: 768px) {

    #fullname,
    #email,
    #age {
        height: 33px;
        padding-left: 12px;
        font-size: var(--form-mb-fsize);
        margin-bottom: 15px;
        max-width: 378px;
        width: 70vw;
    }
    #fullname,
    #email {
        max-width: 278px;
    }
    #age {
        max-width: 111px;
    }
}

.infosDiv{
    width: 35vw;

    min-height: 60vh;
    max-height: 84vh;
    background-color: var(--primary-color);
    border-radius: var(--input-border-radius);
    display: flex;
    flex-direction: column;
    
    padding: 4%;
    color: var(--secondary-color);
    
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .infosDiv{
        width: 80vw;
        min-height: 30vh;
        max-height: 40vh;
        overflow: scroll;
        padding: 4%;
        justify-content: space-between;
    }
}
.sucess-section button{
    width: 40%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    
}
.sucess-section button:hover{
    width: 40%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    
}
.sucess-section .buttons-wrapper{
    justify-content: center;
    margin-top: 20px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.info:nth-of-type(odd){
    margin-top: 10px;
   color: var(--primary-color);
   background-color: var(--secondary-color);
   border-radius: 6px;
   padding-left: 10px;
    padding-right: 10px;
}
.sucess-section p{
    word-break: break-all;
}