select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
    border: 1px solid var(--input-border-unselected);
    border-radius: var(--input-radius);
    background: url(/images/select-arrow.svg) no-repeat rgba(255, 255, 255, 0.3);
}

select:hover,
select:active {
    background: url(/images/select-arrow-active.svg) no-repeat rgba(255, 255, 255, 0.3);
    border: 1px solid var(--input-border-active);
}

option {
    background-color: var(--btn-std-color);
    color: var(--btn-std-fcolor);
}

input[type=radio] {

    -webkit-appearance: none;
    appearance: none;
    background-color: var(--input-unselected);
    margin: 0;
    font: inherit;
    color: var(--input-unselected);
    width: 1.15em;
    height: 1.15em;
    border: none;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transform: translateY(-0.075em);
}

input[type="radio"]::before {
    content: "";
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--btn-std-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:hover::before {
    transform: scale(1);
}

.wrap2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    z-index: 1;
}

.wrap2 label {
    padding-left: 20px;
    cursor: pointer;
}

.wrap2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    background-color: var(--input-unselected);
    border-radius: 2px;

}



.wrap2 input:checked~.checkmark {
    background-color: var(--btn-std-color);
}

.wrap2 input:not(:checked) {
    background-color: var(--input-unselected);
}


.bg-txtarea {
    border: 1px solid var(--input-border-unselected);
    border-radius: 20px;
    resize: none;
    padding: 12px 20px;
}

.bg-txtarea:active, .bg-txtarea:hover{

    border-color:var(--input-border-selected) ;
}

@media only screen and (max-width: 480px) {
    .sv-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

    .sv-form-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

    .df-form-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-left:20vw; */

    }

    .df-form-section2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5%;
    }

    .df-form-section2>.qst-label {
        margin-right: 10%;

    }

    .df-form-section:nth-last-of-type(1) {
        margin-bottom: 19px;
    }

    .mult-ipt-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 5%;
        margin-top: 10px;

    }

    .ipt-wrap {
        width: 100%;
        display: flex;
        gap: 7px;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .qst-label,
    .df-inpt-fsize {
        font-size: var(--mb-form-fsize);
    }

    #sv-form-main2>.df-inpt-fsize {
        font-size: 1rem;
    }

    .qst-label {
        margin-bottom: 3px;

    }

    .df-form-section3 {
        display: flex;
        flex-direction: column;
    }

    .wrap2 {
        font-size: var(--mob-form-fsize);
    }

    select {
        width: var(--mb-ipt-width);
        height: 33px;
        font-size: 16px;
        background-size: 14px 9px;
        background-position: left 10px center;
        padding: 5px 0px 5px 28px;
    }

    select:hover,
    select:active {
        background-size: 14px 9px;
        background-position: left 10px center;
        border: 1px solid var(--input-border-active);
    }

    .checkmark {
        left: 10px;
        height: 14px;
        width: 14px;
    }

    .wrap2 input {
        left: 10px;
        height: 14px;
        width: 14px;
    }

    .bg-txtarea {
        height: 18vh;
        width: 58vw;
        margin-bottom: 26px;
    }

}

@media only screen and (min-width: 481px) {


    .sv-form,
    .df-form-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: flex-start;
        font-size: var(--desk-form-fsize);
    }

    .mult-ipt-wrap {

        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .ipt-wrap {
        display: flex;
        gap: 11px;
        flex-direction: row;
        margin-bottom: 2.2vh;
    }

    .qst-label,
    .df-inpt-fsize {
        font-size: var(--desk-form-fsize);
    }

    .qst-label {
        margin-bottom: 17px;
        line-height: 30.47px;
    }

    select {
        width: var(--desk-ipt-width);
        height: 52px;
        font-size: 27px;
        background-size: 22px 14px;
        background-position: left 10px center;
        padding: 5px 0px 5px 35px;
        margin-bottom: 6vh;
    }

    select:hover,
    select:active {

        background-size: 22px 14px;
        background-position: left 10px center;
    }

    .checkmarkHover {
        background-color: var(--btn-std-color);
    }
  

    .checkmark {
        left: 6px;
        height: 26px;
        width: 26px;
    }

    .wrap2 input {
        left: 6px;
        height: 26px;
        width: 26px;
    }

    .bg-txtarea {
        height: 29.3vh;
        width: 36vw;
        margin-bottom: 8vh;
    }
}