@media only screen and (min-width: 481px) {
    #intro-body {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0;
       
    }

    /* divs */

    #intro-main {
        /* margin-left: 4.9rem;
        margin-right: 5.5rem; */
        width: 36.9vw;
        min-height: 500px;
        height: 37.4vh;
        margin-right:6.8vw;
        padding-top: 11.5vh;
        display: flex;
        justify-content: flex-start;
    }

    #intro-header {
        font-size: 2.4rem;
        line-height: 117%;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 2px;
        margin-top: 0.3rem;
    }

    /* SubTitles */
    #intro-sub {
        font-size: 1.75rem;
        line-height: 120%;
        margin-left: 5rem;
        margin-top: 10px;
        margin-right: 4.125rem;
        margin-bottom: 1.625rem;
        text-align: center;
        width: 34vw;


    }


    /* imgs */
    #img-wrp-1 {
        width: 43.125vw;
        height: 63.15vh;
        margin: 17vh 0.7vw 17.5vh 6.8vw;
    }


    #img-hero-1 {
        height: 100%;
        width: 100%;

    }
}

@media only screen and (max-width: 480px) {

    #intro-body {
        display: flex;
        align-items: center;
        padding: 0;
    }
    #img-hero-1 {
        width: 84%;
        margin-top:2vh;
        margin-bottom:3.5vh;


    }

    #intro-header {
        font-size: 1.875rem;
        line-height: 135%;
        text-align: center;
        margin-left: 2.875rem;
        margin-right: 1.625rem;
        margin-bottom: 1.25rem;
    }

    #intro-sub {
        font-size: calc(var(--mb-form-fsize)* 1.125);
        line-height: 121%;
        margin-left: 5rem;
        margin-right: 4.125rem;
        margin-bottom: 1.25rem;
        text-align: center;
    }

}