@media only screen and (min-width: 481px) {

    /* divs */
    #intro-main {
        /* margin-left: 4.9rem;
        margin-right: 5.5rem; */
        width:48vw;
        min-height: 500px;
        padding-top: 14vh;
        margin-right: 4.8vw;
        margin-bottom: 2vh;
    }

    #intro-header {
        font-size: 2.4rem;
        line-height: 117%;
        text-align: center;
        height: 30%;
       display:flex;
       flex-direction:column;
       justify-content: flex-end;
       
        margin-bottom: 2px;
        margin-top: 0.3rem;
    }

    /* SubTitles */
    #intro-sub {
        font-size: 1.75rem;
        line-height: 120%;
        margin-left: 5rem;
        margin-top:10px;
        margin-right: 4.125rem;
        margin-bottom: 1.625rem;
        text-align: center;
        width:34vw;
        

    }


    /* imgs */
    #img-wrp-1 {
        width: 44.6vw;
        height: 80vh;
        margin: 19vh 2vw auto 2.7vw;
    }

    #img-hero-1 {
        height: 66%;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {

    #img-hero-1 {
        width: 84%;
        margin: 3.2rem 2.8rem 1.68rem 2rem;

    }

    #intro-header {
        font-size: 1.875rem;
        line-height: 135%;
        text-align: center;
        margin-left: 2.875rem;
        margin-right: 1.625rem;
        margin-bottom: 1.25rem;
    }

    #intro-sub {
        font-size: calc(var(--mb-form-fsize)* 1.125);
        line-height: 121%;
        margin-left: 5rem;
        margin-right: 4.125rem;
        margin-bottom: 1.25rem;
        text-align: center;
    }

}